* {
    margin: 0;
    padding: 0;
    font-family: '8BITWONDERNominal';
    font-weight: normal;
    font-style: normal;
    overflow-x: hidden;
  }
  
  .header{
    min-height: 40vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow-y: hidden;
  }
  
  #movable{
    width: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 1;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: top 0.5s;
    overflow-x: visible;
  }
  
  #movable nav{
    display: flex;
    padding:1% 6%;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a img{
    margin-top: -5px;
    width: 160px;
    height: 60px;
  }
  
  #movable .nav-links{
    flex: 1;
    text-align: right;
  }
  
  #movable .nav-links ul li{
    display: inline-block;
    padding:8px 12px;
    position: relative;
  }
  
  #movable .nav-links ul li a{
    font-weight: 500;
    color: black;
    text-decoration: none;
    font-size: 11px;
  }
  
  #movable .nav-links ul li::after{
    content:"";
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin-top: 5px;
    transition: 0.5s;
  }
  
  #movable .nav-links ul li:hover::after{
    width:100%
  }
  
  nav .fa{
    display: none;
  }
  
  .header-text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 47%;
    left: 5%;
    transform: translate(-50,-50);
    text-align: center;
    overflow-x: visible;
  }
  
  .header-text-box h1{
    padding-top: 20px;
    font-size: 40px;
    word-spacing: 2px;
    color: black;
    font-family: '8BITWONDERNominal';
    font-weight: normal;
    font-style: normal;
    overflow-x: visible;
  }
  
  .header-text-box p{
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 15px;
    color: black;
    font-family: '8BITWONDERNominal';
    font-weight: normal;
    font-style: normal;
    overflow-x: visible;
  }
  
  .gallery{
    overflow-y: hidden;
    width: 100%;
    padding-top: 30px;
  }
  
  p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 27px;
    overflow-y: hidden;
    color: #fff;
  }
  
  #vuonlen{
    justify-content: center;
    padding-top: 1%;
    word-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    overflow-y: hidden;
  }
  
  #vuonlen h2{
    line-height: 25px;
    justify-content: center;
    max-width: 500px;
  }
  
  #vuonlen p{
    color: black;
  }
  
  #desvuonlen{
    margin-top: 20px;
    margin-left: 40px;
    max-width: 553px;
    word-wrap: wrap;
    text-align: justify;
    text-justify: inter-word;
  }
  
  #vuonlen_gallery{
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(25, 5vw);
    grid-gap: 15px;
    border-radius: 10px;
    margin-bottom: -2%;
  }
  
  .vuonlenpic{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .vl1{
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;
    border-radius: 10px;
    transition: transform .2s;
  }
  
  .vl2{
    grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 5;
    border-radius: 10px;
    transition: transform .2s;
  }
  
  .vl3{
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 5;
    grid-row-end: 11;
    border-radius: 10px;
    transition: transform .2s;
  }
  
  .vl4{
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 11;
    grid-row-end: 18;
    border-radius: 10px;
    transition: transform .2s;
  }
  
  .vl5{
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 18;
    grid-row-end: 25;
    border-radius: 10px;
    transition: transform .2s;
  }
  
  .vl1:hover, .vl2:hover, .vl3:hover, .vl4:hover, .vl5:hover{
    transform: scale(1.1);
    border-radius: 10px;
  }
  
  #VTD{
    justify-content: center;
    padding-top: 1%;
    word-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
  }
  
  #desVTD{
    margin-top: 5%;
    margin-left: 40px;
    max-width: 550px;
    text-align: justify;
    text-justify: inter-word;
  }
  
  #desVTD h2{
    color: #fff;
    line-height: 25px;
    justify-content: center;
    max-width: 500px;
    min-width: 200px;
  }
  
  #vid2011{
    margin-top: 20px;
    padding-left: 3%;
    width: 600px;
    height: auto;
  }
  
  #christmas{
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    word-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
  }
  
  #desxmas{
    padding-top: 4%;
    padding-right: 30px;
    max-width: 550px;
    text-align: justify;
    text-justify: inter-word;
  }
  
  #cookies{
    height: 300px;
    width: 500px;
    border-radius: 10px;
  }
  
  #christmas h2{
    line-height: 25px;
    justify-content: center;
    max-width: 500px;
    color: #fff;
  }
  
  .xmas, .draw{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  #xmas_gallery{
    margin-bottom: -2%;
    margin-top: -30px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(63, 5vw);
    grid-gap: 15px;
    border-radius: 10px;
  }
  
  .x2{
    grid-column-start: 3;
    grid-column-end: 15;
    grid-row-start: 12;
    grid-row-end: 20;
    border-radius: 10px;
    transition: transform .2s;
  }
  
  .x3{
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 12;
    border-radius: 10px;
    transition: transform .2s;
  }
  
  .x5{
    grid-column-start: 9;
    grid-column-end: 15;
    grid-row-start: 2;
    grid-row-end: 6;
    border-radius: 10px;
    transition: transform .2s;
  }
  
  .x6{
    grid-column-start: 9;
    grid-column-end: 15;
    grid-row-start: 6;
    grid-row-end: 12;
    border-radius: 10px;
    transition: transform .2s;
  }
  
  .x13{
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 20;
    grid-row-end: 31;
    border-radius: 10px;
    transition: transform .2s;
  }
  
  .x14{
    grid-column-start: 9;
    grid-column-end: 15;
    grid-row-start: 20;
    grid-row-end: 31;
    border-radius: 10px;
    transition: transform .2s;
  }
  
  .x12{
    grid-column-start: 3;
    grid-column-end: 15;
    grid-row-start: 31;
    grid-row-end: 38;
    border-radius: 10px;
    transition: transform .2s;
  } 
  
  .x4{
    grid-column-start: 3;
    grid-column-end: 15;
    grid-row-start: 31;
    grid-row-end: 38;
    border-radius: 10px;
    transition: transform .2s;
  }
  
  .x9{
    grid-column-start: 9;
    grid-column-end: 15;
    grid-row-start: 38;
    grid-row-end: 46;
    border-radius: 10px;
    transition: transform .2s;
  }
  
  .x8{
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 38;
    grid-row-end: 42;
    border-radius: 10px;
    transition: transform .2s;
  }
  
  .x16{
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 42;
    grid-row-end: 46;
    border-radius: 10px;
    transition: transform .2s;
  }
  
  .x15{
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 46;
    grid-row-end: 55;
    border-radius: 10px;
    transition: transform .2s;
  }
  
  .x7{
    grid-column-start: 9;
    grid-column-end: 15;
    grid-row-start: 46;
    grid-row-end: 55;
    border-radius: 10px;
    transition: transform .2s;
  }
  
  .x11{
    grid-column-start: 3;
    grid-column-end: 15;
    grid-row-start: 55;
    grid-row-end: 63;
    border-radius: 10px;
    transition: transform .2s;
  }
  
  .x1:hover, .x2:hover, .x3:hover, .x4:hover, .x5:hover, .x6:hover, .x7:hover,
  .x8:hover, .x9:hover, .x10:hover, .x11:hover, .x12:hover, .x13:hover, .x14:hover, .x15:hover, .x16:hover{
    transform: scale(1.1);
    border-radius: 10px;
  }
  
  #daily{
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;
    text-align: center;
  }
  
  #daily h2{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .45);
    display: flex;
    color: #fff;
  }
  
  #daily h2::before,
  #daily h2::after {
    margin-top: 30px;
    content: '';
    display: block;
    height: 0.2em;
    min-width: 30vw;
  }
  
  #daily h2::before {
    background: linear-gradient(to right, rgba(240,240,240,0), #fff);
    margin-right: 4vh;
  }
  
  #daily h2::after {
    background: linear-gradient(to left, rgba(240,240,240,0), #fff);
    margin-left: 4vh;
  }
  
  #drawings{
    justify-content: center;
    padding-top: 1%;
    word-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  
  #desdrawings{
    max-width: 530px;
    word-wrap: wrap;
    text-align: justify;
    text-justify: inter-word;
  }
  
  #desdrawings h2{
    margin-left: 1%;
    color: #fff;
    line-height: 25px;
    text-align: center;
    max-width: 500px;
    min-width: 200px;
  }
  
  #drawing_gallery{
    margin-bottom: -2%;
    margin-top: -5vw;
    display: grid;
    grid-template-columns: repeat(27, 1fr);
    grid-template-rows: repeat(32, 5vw);
    row-gap: 26px;
    column-gap: -26px;
    border-radius: 10px;
  }
  
  .girl1{
    grid-column-start: 3;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 6;
    border-radius: 10px;
    transition: transform .2s;
  }
  
  .girl2{
    grid-column-start: 11;
    grid-column-end: 18;
    grid-row-start: 2;
    grid-row-end: 6;
    border-radius: 10px;
    transition: transform .2s;
  }
  
  .girl3{
    grid-column-start: 19;
    grid-column-end: 26;
    grid-row-start: 2;
    grid-row-end: 6;
    border-radius: 10px;
    transition: transform .2s;
  }
  
  .girl4{
    grid-column-start: 19;
    grid-column-end: 26;
    grid-row-start: 6;
    grid-row-end: 10;
    border-radius: 10px;
    transition: transform .2s;
  }
  
  .girl5{
    grid-column-start: 3;
    grid-column-end: 10;
    grid-row-start: 6;
    grid-row-end: 10;
    border-radius: 10px;
    transition: transform .2s;
  }
  
  .girl6{
    grid-column-start: 11;
    grid-column-end: 18;
    grid-row-start: 6;
    grid-row-end: 10;
    border-radius: 10px;
    transition: transform .2s;
  }
  
  .girl7{
    grid-column-start: 3;
    grid-column-end: 10;
    grid-row-start: 10;
    grid-row-end: 14;
    border-radius: 10px;
    transition: transform .2s;
  }
  
  .girl8{
    grid-column-start: 11;
    grid-column-end: 18;
    grid-row-start: 10;
    grid-row-end: 14;
    border-radius: 10px;
    transition: transform .2s;
  }
  
  .girl9{
    grid-column-start: 19;
    grid-column-end: 26;
    grid-row-start: 10;
    grid-row-end: 14;
    border-radius: 10px;
    transition: transform .2s;
  }
  
  .girl10{
    grid-column-start: 3;
    grid-column-end: 10;
    grid-row-start: 14;
    grid-row-end: 18;
    border-radius: 10px;
    transition: transform .2s;
  }
  
  .girl11{
    grid-column-start: 11;
    grid-column-end: 18;
    grid-row-start: 14;
    grid-row-end: 18;
    border-radius: 10px;
    transition: transform .2s;
  }
  
  .girl12{
    grid-column-start: 11;
    grid-column-end: 18;
    grid-row-start: 18;
    grid-row-end: 22;
    border-radius: 10px;
    transition: transform .2s;
  }
  
  .girl13{
    grid-column-start: 19;
    grid-column-end: 26;
    grid-row-start: 18;
    grid-row-end: 22;
    border-radius: 10px;
    transition: transform .2s;
  }
  
  .girl14{
    grid-column-start: 3;
    grid-column-end: 10;
    grid-row-start: 18;
    grid-row-end: 22;
    border-radius: 10px;
    transition: transform .2s;
  }
  
  .girl15{
    grid-column-start: 19;
    grid-column-end: 26;
    grid-row-start: 22;
    grid-row-end: 27;
    border-radius: 10px;
    transition: transform .2s;
  }
  
  .girl16{
    grid-column-start: 19;
    grid-column-end: 26;
    grid-row-start: 14;
    grid-row-end: 18;
    border-radius: 10px;
    transition: transform .2s;
  }
  
  .tgt2{
    grid-column-start: 3;
    grid-column-end: 18;
    grid-row-start: 22;
    grid-row-end: 27;
    border-radius: 10px;
    transition: transform .2s;
  }
  
  .tgt3{
    grid-column-start: 6;
    grid-column-end: 23;
    grid-row-start: 27;
    grid-row-end: 32;
    border-radius: 10px;
    transition: transform .2s;
  }
  
  .girl1:hover, .girl2:hover, .girl3:hover, .girl4:hover, .girl5:hover, .girl6:hover, .girl7:hover, .girl8:hover, .girl9:hover,
  .girl10:hover, .girl11:hover, .girl12:hover, .girl13:hover, .girl14:hover, .girl15:hover, .girl16:hover, .tgt1:hover, .tgt2:hover, .tgt3:hover{
    transform: scale(1.1);
    border-radius: 10px;
  }
  
  .divider::before{
    margin-top: 30px;
    content: '';
    display: block;
    height: 0.2em;
    min-width: 30vw;
    background: linear-gradient(to right, rgba(240,240,240,0), #fff, rgba(240,240,240,0));
  }
  
  
  h3{
    font-family:'Press Start 2P', cursive;
  }   
  
  footer{
    height: 135px;
    text-align: center;
    background-color: #fff;
  }
  
  footer p{
    font-family: 'Poppins', sans-serif;
  }
  
  .why{
    display: inline-flex;
  }
  
  h5{
    margin-left: 4px;
    margin-right: 4px;
    font-family: 'Poppins', sans-serif;
  }
  
  .nofooter{
    background-image: linear-gradient(#71C0D8, #12448E);
  }
  
  h2{
    font-size: 20px;
    text-align: center;
  }
  
  footer h2{
    line-height: 20px;
  }
  
  footer p{
    color: black;
    font-size: 16px;
    line-height: 19px;
  }
  
  @media(max-width: 810px){
  
    .header{
        min-height: 44vh;
    }
    .nav-links ul li{
        display: block;
    }
  
    #movable .nav-links ul li a{
        color: white;
    }
  
    .nav-links{
        position:absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding-left:30px;
    }
  
    .Home-text{
        width: 200px;
        min-height: 200px;
    }
  
    #movable{
        position: fixed;
    }
  
    .header-text-box {
        top:29%
    }
  
    .members-col{
        margin-bottom: 15px;
    }
  
    .members-col img{
        width: 135px;
        height: 155px;
        border-radius: 20px;
    }
  
    #movable .nav-links{
        text-align: left;
    }
  
    .layer h3{
        display: none;
    }
  
    footer{
        overflow-y: hidden;
    }
    footer p{
        font-size: 12px;
    }
    footer span{
        font-size: 16px;
    }
  
    #cookies{
      width: 90%;
      height: auto;
      margin-top: 30px;
      justify-self: center;
    }
  
    #desvuonlen, #desVTD, #desdrawings, #desdrawings{
      width: 80%;
      margin-left: -1%;
    }
  
    #desxmas{
      width: 80%;
      margin-left: 7%;
    }
  
    #vid2011{
      margin-left: 0%;
      margin-right: 4%;
    }
  
    .x2{
      grid-column-start: 2;
      grid-column-end: 16;
    }
    
    .x3{
      grid-column-start: 2;
      grid-column-end: 10;
    }
    
    .x5{
      grid-column-start: 10;
      grid-column-end: 16;
    }
    
    .x6{
      grid-column-start: 10;
      grid-column-end: 16;
    }
  
    
    .x13{
      grid-column-start: 2;
      grid-column-end: 9;
    }
  
    .x14{
      grid-column-start: 9;
      grid-column-end: 16;
    }
  
    .x12{
      grid-column-start: 2;
      grid-column-end: 16;
    } 
  
    .x4{
      grid-column-start: 2;
      grid-column-end: 16;
    }
  
    .x9{
      grid-column-start: 9;
      grid-column-end: 16;
    }
  
    .x8{
      grid-column-start: 2;
      grid-column-end: 9;
    }
  
    .x16{
      grid-column-start: 2;
      grid-column-end: 9;
    }
  
    .x15{
      grid-column-start: 2;
      grid-column-end: 9;
    }
  
    .x7{
      grid-column-start: 9;
      grid-column-end: 16;
    }
  
    .x11{
      grid-column-start: 2;
      grid-column-end: 16;
    }
  }